/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
/*
=============== 
Variables
===============
*/

:root {
  /*primary colors*/
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  /* Neutral */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  /* other */
  --ff-primary: 'Manrope', sans-serif;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--dark-blue);
  color: var(--clr-grey-1);
}
img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 16px;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.advice {
  background: var(--dark-grayish-blue);
  height: 65vh;
  text-align: center;
  padding: 3rem;
  width: 90vw;
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.advice h2 {
  text-transform: uppercase;
  color: var(--neon-green);
  letter-spacing: 4px;
  font-size: 13px;
}
.advice h1 {
  font-size: 28px;
  margin: 1.5rem 0;
  color: var(--light-cyan);
}
.dice-container {
  background-color: var(--neon-green);
  display: inline-block;
  padding: 1rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  cursor: pointer;
  bottom: 0;
  transition: 0.5s ease-in-out;
  z-index: 3;
}
.dice-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--neon-green);
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.dice-container:hover::before {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--neon-green);
  filter: blur(5px);
}

.advice .dice {
  font-size: 10rem;
  margin-bottom: 1rem;
  height: 3rem;
  width: 3rem;
}

@media screen and (min-height: 750px) {
  .advice {
    height: 50vh;
  }
}

@media screen and (min-width: 768px) {
  .advice {
    width: 60vw;
    height: 50vh;
  }
}

@media screen and (min-width: 992px) {
  .advice {
    width: 50vw;
    height: 45vh;
    max-width: 550px;
  }
}
